
@{
    ViewBag.Title = "Index";
}

<h2>Index View</h2>

<h1>To use the feature</h1>
<div class="col-md-4">
    <a href="~/HU/post1">Post1 => base/HU/post1</a>
</div>
<div class="col-md-4">
    <a href="~/HU/post2">Post2 => base/HU/post2</a>
</div>
<div class="col-md-4">
    <a href="~/HU/post3">Post3 => base/HU/post3</a>
</div>



